
img {
    width: 8vw;
    border-radius: 50%;
  }

  .main {
    width: 70vw;
    height: 60vh;
    align-items: center;
    margin: auto;
    display: flex;
    overflow: scroll;
  }
  .cards {
    border: 1px solid;
    min-width: 200px;
    min-height: 200px;
    margin: 2rem;
    border-radius: 20px;
    background-color: rgb(246, 239, 238);
    box-shadow: 2px 5px 2px  rgb(161, 128, 203);
  }
  