
.App {
  text-align: center;
}


button{
  width: 100px;
  height: 30px;
  margin: 10px;
  background-color: rgb(167, 124, 124);
  border-radius: 10px;
}

.AXIOS{
 display: list-item;
}
img{

  border-radius: 50%;

}